<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="UTF-8">
  <title>{{ name }}</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link href="atom.xml" rel="alternate" type="application/atom+xml"
        title="Atom feed" />
</head>
<body>
  <div id="header">
    <h1><a href="">{{ name }}</a></h1>
  </div>

  <div id="page">
    <div id="content" class="narrowcolumn">
			<nav>
				<details>
					<summary>Recently:</summary>
					<ul>
						{% for item in items %}
							<li>
								{% if item.channel_name and not item.skipName %}
									<a href="{{ item.channel_link }}" title="{{ item.channel_title }}">{{ item.channel_name }}</a>:
								{% endif %}
								<a rel="bookmark" href="{{ item.link }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</details>
			</nav>

      {% for item in items %}
        <article class="post">
					{% if item.title %}
            <h2>
							{% if item.channel_name and not item.skipName %}
								<a href="{{ item.channel_link }}" title="{{ item.channel_title }}">{{ item.channel_name }}</a>:
							{% endif %}
              <a rel="bookmark" href="{{ item.link }}">{{ item.title }}</a>
            </h2>
					{% endif %}
          <div class="entry">
            {{ item.content | safe }}
            <div class="link"><a href="{{ item.link }}" rel="bookmark">{{ item.link }}</a></div>
          </div>

					<pre class="mode-line">-1:-- <a href="{{ item.link }}" rel="bookmark">{{ item.title }}</a> (Post{% if item.author %} {{ item.author }}{% endif %})--L0--C0--{{ item.isoDate }}</pre>
        </article>
      {% endfor %}
    </div> <!-- #content -->

    <div id="sidebar">
      <ul>
				<li>Looking for something to write about? The <a href="https://www.emacswiki.org/emacs/Carnival">Emacs Carnival</a> theme for January is <a href="https://christiantietze.de/posts/2026/01/emacs-carnival-2026-01-this-year-i-will/">This Year, I'll...</a>.</li>
					<li>
          <h2>Planet Emacslife</h2>
          <ul>
            <li><a type="application/atom+xml" href="atom.xml" rel="alternate"><img src="/feed-icon-14x14.png" alt="Atom feed" /></a></li>
            <li><a href="social.org"><img src="/org-social-icon.png" alt="Org Social feed" /> Org Social</a></li>
            <li><a href="/">en</a> run by <a href="http://sachachua.com">Sacha Chua</a></li>
            <!--li><a href="/ru/">ru</a> run by <a href="http://alexott-ru.blogspot.com/">Alex Ott</a></li>
            <li><a href="/zh/">zh</a> run by <a href="https://github.com/RenWenshan">Wenshan</a></li-->
            <li><a href="http://planet.emacs-es.org/">es</a> run by drymer (external)</li>
					</ul>
					<p><a href="https://search.emacslife.com">Search Planet Emacslife</a></p>
					<div><strong><a href="mailto:sacha@sachachua.com">Add your blog's Emacs feed</a></strong>	</div>
        </li>
        <li>
          <h2>Subscriptions (<a href="opml.xml">OPML</a>)</h2>
          <ul>
            {% for feed in sites %}
              <li><a href="{{ feed.link }}" title="{{ feed.lastPostDate }}">{{ feed.name }}</a> <a href="{{ feed.feed }}">(feed)</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="https://emacslife.com/calendar">Calendar of upcoming Emacs events</a></li>
      </ul>
    </div>
	</div> <!-- .page -->
	<p style="clear: both">Please note that planet.emacslife.com aggregates blogs, and blog authors might mention or link to nonfree things. To add a feed to this page, please e-mail the RSS or ATOM feed URL to <a href="mailto:sacha@sachachua.com?subject=Planet+Emacslife">sacha@sachachua.com</a> . Thank you!</p>

</body>
</html>
